<!DOCTYPE html>
<!-- define our angular app -->
<html ng-app="bitcoinCalculator" ng-controller="bitcoinController">
  <head>
    <title>Bitcoin Investment Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12">
          <h1>Bitcoin Investment<br>Calculator</h1>
          <br><br>
          <form role="form">
            <label for="starting-investment">Initial Investment (USD)</label>
            <input type="number" ng-model="initialAmt" class="form-control" placeholder="{a initialAmt a}">
          </form>
          <p>Current Bitcoin Price (USD): {a currRate | currency a}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <br><br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Price of 1 BTC</th>
                <th>Starting Investment</th>
                <th>Profit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$1,000</td>
                <td>{a newAmt(1000) | currency a}</td>
                <td>{a profit(1000) | currency a}</td>
              </tr>
              <tr>
                <td>$5,000</td>
                <td>{a newAmt(5000) | currency a}</td>
                <td>{a profit(5000) | currency a}</td>
              </tr>
              <tr>
                <td>$10,000</td>
                <td>{a newAmt(10000) | currency a}</td>
                <td>{a profit(10000) | currency a}</td>
              </tr>
              <tr>
                <td>$25,000</td>
                <td>{a newAmt(25000) | currency a}</td>
                <td>{a profit(25000) | currency a}</td>
              </tr>
              <tr>
                <td>$50,000</td>
                <td>{a newAmt(50000) | currency a}</td>
                <td>{a profit(50000) | currency a}</td>
              </tr>
            </tbody>
          </table>
          <span>* If the price of 1 Bitcoin reaches X, THEN your starting investment becomes X AND your profit becomes X.</span>
        </div>
        <div class="col-sm-5">
          <img src="../static/img/btc.png" width="200">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <nvd3-historical-bar-chart height="350" data="exampleData" showXAxis="true" showYAxis="true" showLegend="true">
          </nvd3-historical-bar-chart>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-nvd3-directives/0.0.7/angularjs-nvd3-directives.min.js"></script>
    <script type="text/javascript" src="../static/scripts/main.js"></script>
  </body>
</html>